@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Outfit";
    min-height: 100vh;
    min-height: 100dvh;
    background: hsl(212, 45%, 89%);
    display:grid;
    place-items: center;
}
img{
    max-width: 100%;
}
/* qr code container */
article{
    max-width: 300px;
    max-height: 500px;
    padding: .8em;
    background: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.075);
    text-align:center;
}
article img{
    border-radius: 10px; 
}

article header{
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: .8em .5em;
}
article p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    margin: 1.5em 1em;
}
