@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Outfit";
    min-height: 100vh;
    min-height: 100dvh;
    background: hsl(212, 45%, 89%);
}
