@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Outfit";
    min-height: 100vh;
    min-height: 100dvh;
    background: hsl(212, 45%, 89%);
    display:grid;
    place-items: center;
}
img{
    max-width: 100%;
}
/* main qr code container */
main{
    max-width: 320px;
    max-height: 500px;
    padding: 15px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.26)
}
main img{
    border-radius: 10px;    
}
main h1{
    font-size: 22px;
    text-align:center;
    margin: 15px;
    color: hsl(218, 44%, 22%);
}
main p{
    font-size: 15px;
    text-align:center;
    margin: 15px;
    color: hsl(216, 15%, 48%);
}